* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

h1 {
    text-align: right;
    font-size: 22px;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}


.sarch input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.sarch button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

main {
    padding: 20px;
    background-color: aquamarine;
}

.song-list {
    text-align: center;

}


footer{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}